<form method="post" action="https://blog.leetsaber.com/subscription/form" class="listmonk-form">
    <div>
        <h3>Subscribe to my future posts</h3>
        <input type="hidden" name="nonce" />
        <p>
            <input type="email" name="email" required placeholder="E-mail" />
            <input type="text" name="name" placeholder="Name (optional)" />
            <input id="6174d" type="hidden" name="l" value="6174da3e-41ea-49a4-bbdd-790b3b2886bf" />
        </p>
        <p><input type="submit" value="Subscribe" /></p>
    </div>
</form>
